.pageContainer {
  margin: 0 auto;
}

.title, h1.title, input.title {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 16px 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.desc, p.desc, textarea.desc {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin: 0 0 16px 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  resize: none;
}

input.title:enabled {
    max-width: 600px;
    background: var(--hover-lighten);
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
    color: var(--text-main);
    align-items: center;    
}

textarea.desc:enabled {
    max-width: 900px;
    background: var(--hover-lighten);
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
    color: var(--text-main);
}

.editFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.controlsRow {
    display: flex;
    align-items: left;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px; 
}

.searchAndSortRow {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
    margin-bottom: 16px;
    padding: 0 20px;
}

.collectionSearchBar {
    width: 25% !important;
}

@media (max-width: 700px) {
    .collectionSearchBar {
        width: 60% !important;
    }
}

.grid {
    column-count: 6; /* Adjust for responsiveness */
    column-gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}
  
@media (max-width: 1200px) {
    .grid {
        column-count: 4;
    }
}

@media (max-width: 900px) {
    .grid {
        column-count: 3;
    }
}

@media (max-width: 600px) {
    .grid {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .grid {
        column-count: 1;
    }
}
  
  
/* Make sure each ItemCard doesn't break across columns */
.grid > * {
break-inside: avoid;
margin-bottom: 1.5rem;
width: 100%;
}

.deleteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 2rem 0;
    border-top: 1px solid var(--border-color);
}

.deleteSection .submitButton {
    background-color: var(--error);
    color: white;
    border: none;
    padding: 12px 12px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.2s ease;
    min-width: 200px;
}

.deleteSection .submitButton:hover:not(:disabled) {
    background-color: var(--error-hover);
}

.deleteSection .submitButton:disabled {
    background-color: var(--bg-toolbar);
    cursor: not-allowed;
}